/* LoginForm.css */

h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrong-password {
  color: #FF5733;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

.modal-bars {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}

.modal-buttons {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: #f39c12;
  /* Etsy's signature color */
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-buttons:hover {
  background-color: #d8780b;
  /* Darker shade on hover */
}

.modal-buttons:disabled {
  background-color: #ccc;
  /* Disable button color */
  cursor: not-allowed;
}

/* Demo User Button */
.modal-buttons.demo-button {
  background-color: #52b788;
  /* A different color for the demo button */
}

.modal-buttons.demo-button:hover {
  background-color: #3e8f5a;
  /* Darker shade on hover for the demo button */
}
