.shopping-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.shopping-cart-header {
    font-size: 2.7rem;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: red;
}

.cart-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 80%;
}

.individual-item-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-item-image-container {
    width: 300px; /* updated width */
    margin-right: 20px;
}

.cart-product-image {
    max-width: 110px;
    height: auto; /* added height */
}

.cart-item-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.cart-item-info-container div {
    margin-bottom: 10px;
}

.cart-item-info-container span {
    font-size: 1.2rem;
}


.delete-button-container {
    margin: 10px;
}
#delete-items {
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: none;
}

#delete-items:hover {
    background-color: red;
    cursor: pointer;
}

.empty-cart-message {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
