/* SingleProduct.css */

/* * {
  margin: 0;
  padding: 0;
} */
.product-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 15rem;
  margin-right: 15rem;
}

.product-price-tag {
  margin: 0;
  padding: 0;
}

.c-product-info-right {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding-right: 200px;

}

.c-product-info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
}

.c-product-image {
  display: flex; /* Make the image occupy the right side */
  max-height: 400px; /* Adjust image size as needed */
  justify-content: center;
  object-fit: cover;
}

.c-product-info-left {
  display: flex; /* Make the text/details occupy the left side */
  margin-right: 3.5rem;
}

.single-product-name {
  font-size: 24px;
}

.c-product-owner h2 {
  font-weight: bold;
  color: black;
  font-size: 20px;

}

.taxes-class {
  color: red;
}
.c-product-owner h3 {
  color: grey;
  font-size: 20px;

}

.reviews-container {
  margin: 2rem;
  max-width: 800px;
  border-radius: 8px;
  padding: 2rem;
}

/* Style the total reviews text */
.total-reviews {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

/* Style the average rating */
.average-rating {
  font-size: 24px;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 1rem;
}

/* Style the individual reviews */
.product-reviews {
  margin-top: 1rem;
}

.review-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.fa-star {
  color: #ff6600;
}

.review-details {
  margin-top: 1rem;
  color: #555;
}

.review-text {
  margin-top: 0.5rem;
}

.review-date {
  font-style: italic;
  margin-top: 0.5rem;
  color: #777;
}

/* Style the post review button */
.post-review-button button {
  display: flex;
  margin-top: 2rem;
  padding: 10px;
  width: 120px;
  border-radius: 6px;
  background-color: #333;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
}

.post-review-button button:hover {
  background-color: #ff6600;
  cursor: pointer;
}


#be-first {
  font-style: italic;
  color: #555;
  margin-top: 0.5rem;
}

#cart-button {
  padding: 17px;
  margin-top: 6rem;
  width: 400px;
  border-radius: 20px;
}

#select-quantity  {
  padding: 1rem;
  width: 150px;
  border-radius: 15px;
}
