.profile-dropdown {
  position: absolute;
  right: 13.5em;
  margin-top: .55em;
  z-index: 1;
  background-color: white;
  width: 8em;
  border: 1px solid black;
  border-radius: 10px;
  /* display: inline-block; */
}

.hidden {
  display: none;
}

.store-button{
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
}

.home-link {
  text-decoration: none;
  padding: 20px;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: right;
  align-items: center;
  margin: 20px;
}
.shop-link {
  margin-right: 20px;

}

.top-nav {
  display: flex;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
}

.logo-div {
  font-size: 20px;
  color: #ff6600;
  text-shadow: 1px 1px 2px #333;
}

.nav-link-logo {
  text-decoration: none;
}
