/* productsofowner.css */
.store-product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  .store-product-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .store-product-card:hover {
    transform: scale(1.02);
  }

  .store-product-link {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .store-product-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }

  .store-product-name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
  }

  .product-edit-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    }

   .product-delete-button button {
    background-color: rgb(224, 99, 27);
    border-radius: 10px;
    padding: 10px;
   }

  .store-delete-button,
  .store-edit-button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .store-delete-button:hover,
  .store-edit-button:hover {
    background-color: #ff5500;
  }
